{% extends "layout.html" %}

{% block body %}
  {% if reports is defined %}
  <p style="padding:15px" class="alert alert-warning" role="alert">There are {{ reports }} <a href="{{ url_for('reports_index') }}">reports</a> concerning the quality of your questions.</p>
  {% endif %}
  {% if error is defined %}
  <p style="padding:15px" class="alert alert-danger" role="alert">{{ error }}</p>
  {% endif %}
  <table>
    <tr>      
      <form method="POST" action="{{ url_for('questions_sort', control=control) }}">
        <td style="padding:15px">
          <select name="sort">
            <option value="id">oldest first</option>
            <option value="id desc">newest first</option>
            <option value="name">question name</option>
            <option value="category">category</option>
            <option value="difficulty">difficulty</option>
            <option value="active desc">active first</option>
            <option value="active">inactive first</option>
            {% if current_user.role == "ADMIN" and control == "control" %}
            <option value="account_id">user id</option>
            {% endif %}
          </select>
        </td>
        <td>          
          <input type="submit" value="Sort"/>
        </td>
      </form>
    </tr>
  </table>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="padding:15px">Question</th>
        <th scope="col" style="padding:15px">Category</th>
        <th scope="col" style="padding:15px">Difficulty</th>
        <th scope="col" style="padding:15px">Active</th>
        {% if current_user.role == "ADMIN" and control == "control" %}
        <th style="padding:15px">UserId</th>
        {% endif %}
        <th scope="col" style="padding:15px"></th>
        <th scope="col" style="padding:15px"></th>
        <th scope="col" style="padding:15px"></th>
      </tr>
    </thead>
    {% for question in questions %}
    <tr>
      <td style="padding:15px">{{ question.name  }}</td>
      <td style="padding:15px">{{ question.category }}</td>
      <td style="padding:15px">{{ question.difficulty }}</td>
      <td style="padding:15px">{{ question.active }}</td>
      {% if current_user.role == "ADMIN" and control == "control" %}
      <td style="padding:15px">{{ question.account_id }}</td>
      {% endif %}
      <td style="padding:15px">
        <form method="POST" action="{{ url_for('questions_activate', question_id=question.id, control=control) }}">
          <input type="submit" value="Activate/Disactivate"/>
        </form>
      </td>
      <td style="padding:15px">
        <form method="POST" action="{{ url_for('questions_delete', question_id=question.id, control=control) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
      <td style="padding:15px">
        <a href="{{ url_for('questions_modify', question_id=question.id) }}">Modify</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
