{% extends "layout.html" %}

{% block body %}
{{ error }}
  <table>
    <tr>
      <th>Question</th>
      <th>Category</th>
      <th>Difficulty</th>
      <th>Active</th>
      {% if current_user.role == "ADMIN" %}
      <th>UserId</th>
      {% endif %}
    </tr>
    {% for question in questions %}
    <tr>
      <td>{{ question.name  }}</td>
      <td>{{ question.category }}</td>
      <td>{{ question.difficulty }}</td>
      <td>{{ question.active }}</td>
      {% if current_user.role == "ADMIN" %}
      <td>{{ question.account_id }}</td>
      {% endif %}
      <td>
        <form method="POST" action="{{ url_for('questions_activate', question_id=question.id) }}">
          <input type="submit" value="Activate/Disactivate"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('questions_delete', question_id=question.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
      <td>
        <a href="{{ url_for('questions_modify', question_id=question.id) }}">Modify</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
