{% extends "layout.html" %}

{% block body %}
<table> 
  <tr>
    <th style="padding:15px">Question</th>
    <th style="padding:15px">Category</th>
    <th style="padding:15px">Difficulty</th>
    <th style="padding:15px">Active</th>
  </tr>
  <tr>
    <td style="padding:15px">{{ question.name }}</td>
    <td style="padding:15px">{{ question.category }}</td>
    <td style="padding:15px">{{ question.difficulty }}</td>
    <td style="padding:15px">{{ question.active }}</td>
    <td style="padding:15px">
      <form method="POST" action="{{ url_for('question_activate', question_id=question.id) }}">
        <input type="submit" value="Activate/Disactivate"/>
      </form>
    </td>
	<td style="padding:15px">{{ act_error }}</td>
  </tr>
</table>
<p style="padding:15px"><b>Modify question</b></p>
<table>
  <tr>
    <form method="POST", action="{{ url_for('questions_modifyQuestion', question_id=question.id) }}">
      <td style="padding:15px">
        {{ q_form.name.label }}
      </td>
      <td style="padding:15px">
        {{ q_form.name }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Change question"/>
      </td>
      <td>
        <ul>
          {% for error in q_form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </form>
  </tr>
  <tr>
    <form method="POST", action="{{ url_for('questions_modifyCategory', question_id=question.id) }}">
      <td style="padding:15px">
        {{ c_form.category.label }}
      </td>
      <td style="padding:15px">
        {{ c_form.category }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Change category"/>
      </td>
    </form>
  </tr>
  <tr>
    <form method="POST", action="{{ url_for('questions_modifyDifficulty', question_id=question.id) }}">
      <td style="padding:15px">
        {{ d_form.difficulty.label }}
      </td>
      <td style="padding:15px">
        {{ d_form.difficulty }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Change difficulty"/>
      </td>
    </form>
  </tr>
</table>
<p style="padding:15px"><b>Options</b></p>
<table>
  <tr>
    <th style="padding:15px">Option</th>
    <th style="padding:15px">Correct</th>
  </tr>
  {% for option in options %}
  <tr>
    <td style="padding:15px">{{ option.name }}</td>
    <td style="padding:15px">{{ option.correct }}</td>
    <td style="padding:15px">
      <form method="POST" action="{{ url_for('options_setcorrect', question_id=question.id, option_id=option.id) }}">
        <input type="submit" value="Change status to correct/incorrect"/>
      </form>
    </td>
    <td style="padding:15px">
      <form method="POST" action="{{ url_for('options_delete', question_id=question.id, option_id=option.id) }}">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<p style="padding:15px"><b>Add an option</b></p>
<form method="POST", action="{{ url_for('options_add', question_id=question.id) }}">
  <table>
    <tr>
      <td style="padding:15px">
        {{ opt_form.name.label }}
      </td>
      <td style="padding:15px">
        {{ opt_form.name }}
      </td>
      <td style="padding:15px">
        {% for error in opt_form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
        {{ opt_form.correct.label }}
      </td>
      <td style="padding:15px">
        {{ opt_form.correct }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Add"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
