{% extends "layout.html" %}

{% block body %}
<table> 
  <tr>
    <th>Question</th>
    <th>Category</th>
    <th>Difficulty</th>
    <th>Active</th>
  </tr>
  <tr>
    <td>{{ question.name }}</td>
    <td>{{ question.category }}</td>
    <td>{{ question.difficulty }}</td>
    <td>{{ question.active }}</td>
    <td>
      <form method="POST" action="{{ url_for('question_activate', question_id=question.id) }}">
        <input type="submit" value="Activate/Disactivate"/>
      </form>
    </td>
	<td>{{ act_error }}</td>
  </tr>
</table>
<p><b>Modify question</b></p>
<form method="POST", action="{{ url_for('questions_modifyQuestion', question_id=question.id) }}">
  <table>
    <tr>
      <td>
        {{ q_form.name.label }}
      </td>
      <td>
        {{ q_form.name }}
      </td>
      <td colspan="2">
        <input type="submit" value="Change question"/>
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</form>
<form method="POST", action="{{ url_for('questions_modifyCategory', question_id=question.id) }}">
  <table>
    <tr>
      <td>
        {{ c_form.category.label }}
      </td>
      <td>
        {{ c_form.category }}
      </td>
      <td colspan="2">
        <input type="submit" value="Change category"/>
      </td>
    </tr>
  </table>
</form>
<form method="POST", action="{{ url_for('questions_modifyDifficulty', question_id=question.id) }}">
  <table>
    <tr>
      <td>
        {{ d_form.difficulty.label }}
      </td>
      <td>
        {{ d_form.difficulty }}
      </td>
      <td colspan="2">
        <input type="submit" value="Change difficulty"/>
      </td>
    </tr>
  </table>
</form>
<p><b>Options</b></p>
<table>
  <tr>
    <th>Option</th>
    <th>Correct</th>
  </tr>
  {% for option in options %}
  <tr>
    <td>{{ option.name }}</td>
    <td>{{ option.correct }}</td>
    <td>
      <form method="POST" action="{{ url_for('options_setcorrect', question_id=question.id, option_id=option.id) }}">
        <input type="submit" value="Change status to correct/incorrect"/>
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('options_delete', question_id=question.id, option_id=option.id) }}">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<p><b>Add an option</b></p>
<form method="POST", action="{{ url_for('options_add', question_id=question.id) }}">
  <table>
    <tr>
      <td>
        {{ opt_form.name.label }}
      </td>
      <td>
        {{ opt_form.name }}
      </td>
      <td>
        {% for error in opt_form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ opt_form.correct.label }}
      </td>
      <td>
        {{ opt_form.correct }}
      </td>
      <td colspan="2">
        <input type="submit" value="Add"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
