
{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('questions_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.active.label }}
      </td>
      <td>
        {{ form.active }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.category.label }}
      </td>
      <td>
        {{ form.category }}
      </td>
    <tr>
    <tr>
      <td>
        {{ form.difficulty.label }}
      </td>
      <td>
        {{ form.difficulty }}
      </td>
      <td colspan="2">
        <input type="submit" value="Add a new question"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
