{% extends "layout.html" %}

{% block body %}
{{ error }}
  <table>
    <tr>
      <th>Quiz name</th>
      <th>Category</th>
      <th>Active</th>
      <th>Automatic</th>
      {% if current_user.role == "ADMIN" %}
      <th>UserId</th>
      {% endif %}
    </tr>
    {% for quiz in quizzes %}
    <tr>
      <td>{{ quiz.name  }}</td>
      <td>{{ quiz.category }}</td>
      <td>{{ quiz.active }}</td>
      <td>{{ quiz.automatic }}</td>
      {% if current_user.role == "ADMIN" %}
      <td>{{ quiz.account_id }}</td>
      {% endif %}
      </td>
      <td>
        <form method="POST" action="{{ url_for('quizzes_activate', quiz_id=quiz.id, control=control) }}">
          <input type="submit" value="Activate/Disactivate"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('quizzes_delete', quiz_id=quiz.id, control=control) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
      {% if quiz.automatic == False %}
      <td>
        <a href="{{ url_for('quizzes_modify', quiz_id=quiz.id) }}">Modify</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
