{% extends "layout.html" %}

{% block body %}
<p style="padding:15px"><b>Modify quiz</b></p>
<table>
  <tr>
    <form method="POST" action="{{ url_for('quizzes_modifyQuiz', quiz_id=quiz.id) }}">
      <td style="padding:15px">
        <b>{{ form.name.label }}</b>
      </td>
      <td style="padding:15px">{{ quiz.name }}</td>
      <td style="padding:15px">
        {{ form.name }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Change quiz name"/>
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </form>
  </tr>
  <tr>
    <form method="POST" action="{{ url_for('quizzes_modifyCategory', quiz_id=quiz.id) }}">
      <td style="padding:15px">
        <b>{{ c_form.category.label }}</b>
      </td>
      <td style="padding:15px">{{ quiz.category }}</td>
      <td style="padding:15px">
        {{ c_form.category }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Change category"/>
      </td>
    </form>
  </tr>
  <tr>
    <td style="padding:15px"><b>Active</b></td>
    <td style="padding:15px">{{ quiz.active }} </td>
    <td style="padding:15px">
      <form method="POST" action="{{ url_for('quiz_activate', quiz_id=quiz.id) }}">
        <input type="submit" value="Activate/Disactivate"/>
      </form>
    </td>
    {% if act_error is defined %}
    <td style="padding:15px" class="alert alert-danger" role="alert">{{ act_error }}</td>
    {% endif %}
  </tr>
</table>
<p style="padding:15px"><b>Questions</b></p>
<table>
  {% for question in questions %}
  <tr>
    <td style="padding:15px">{{ question.name }}</td>
    <td style="padding:15px">
      <form method="POST", action="{{ url_for('quizQuestions_delete', qz_id=quiz.id, qn_id=question.id) }}">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<p style="padding:15px"><b>Add a question</b></p>
<p style="padding:15px">The list below shows all your active questions that haven't been added to this quiz</p>
<form method="POST", action="{{ url_for('quizQuestions_add', quiz_id=quiz.id) }}">
  <table>
    <tr>
      <td style="padding:15px">
        {{ qq_form.question.label }}
      </td>
      <td style="padding:15px">
        {{ qq_form.question }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Add"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
