
{% extends "layout.html" %}

{% block body %}
{% if error is defined %}
<p style="padding:15px" class="alert alert-danger" role="alert">{{ error }}</p>
{% endif %}
<p style="padding:15px">To create a quiz from your own questions, choose a name and a category. You can add questions to your quiz when you go to modify the quiz. <br/>Note that you cannot play your own quiz unless it is created automatically. For an automatic quiz, see below.</p>
<form method="POST" action="{{ url_for('quizzes_create') }}">
  <table>
    <tr>
      <td style="padding:15px">
        {{ form.name.label }}
      </td>
      <td style="padding:15px">
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
        {{ form.category.label }}
      </td>
      <td style="padding:15px">
        {{ form.category }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Add a new quiz"/>
      </td>
    </tr>
  </table>  
</form>
<br/><br/>
<p style="padding:15px">You can also let QuizBee create a quiz automatically. Choose a name, a category and the number of questions. <br/> Automatic quizzes can be activated and deleted but not modified later.</p>
<form method="POST" action="{{ url_for('quizzes_autocreate') }}">
  <table>
    <tr>
      <td style="padding:15px">
        {{ autoform.name.label }}
      </td>
      <td style="padding:15px">
        {{ autoform.name }}
      </td>
      <td>
        <ul>
          {% for error in autoform.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
        {{ autoform.category.label }}
      </td>
      <td style="padding:15px">
        {{ autoform.category }}
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
         {{ autoform.number.label }}
      </td>
      <td style="padding:15px">
         {{ autoform.number }}
      </td>
      <td style="padding:15px">
        <input type="submit" value="Add a new quiz"/>
      </td>
    </tr>
  </table>  
  <ul>
    {% for error in autoform.number.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</form>
<p style="padding:15px">{{ size_error }}</p>
{% endblock %}
