{% extends "layout.html" %}

{% block body %}
{{ error }}
  <table>
    <tr>
      <td style="padding:15px">
        <form method="POST" action="{{ url_for('auth_sort') }}">
          <select name="sort">
            <option value="id">user id</option>
            <option value="name">name</option>
            <option value="username">username</option>
            <option value="role">admins first</option>
            <option value="role desc">users first</option>
          </select>
        </td>
        <td>
          <input type="submit" value="Sort"/>
        </td>
      </form>
    </tr>
  </table>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="padding:15px">UserId</th>
        <th scope="col" style="padding:15px">Name</th>
        <th scope="col" style="padding:15px">Username</th>
        <th scope="col" style="padding:15px">Role</th>
        <th scope="col" style="padding:15px"></th>
      </tr>
    </thead>
    {% for user in users %}
    <tr>
      <td style="padding:15px">{{ user.id  }}</td>
      <td style="padding:15px">{{ user.name }}</td>
      <td style="padding:15px">{{ user.username }}</td>
      <td style="padding:15px">{{ user.role }}</td>
      <td style="padding:15px">
        <form method="POST" action="{{ url_for('auth_delete', user_id=user.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
