{% extends "layout.html" %}

{% block body %}
{{ error }}
<p style="padding:15px">Please confirm that you want to delete your account.</p>
<p style="padding:15px">All your data will be permanently destroyed.</p>
<br/>
<br/>
<form method="POST" action="{{ url_for('delete_cancel') }}">
  <table>
    <tr>
      <td style="padding:15px">
        <input type="submit" value="Cancel"/>
      </td>
    </tr>
  </table>
</form>
<br/>
<br/>
<br/>
<form method="POST" action="{{ url_for('delete_confirm') }}">
  <table>
    <tr>
      <td style="padding:15px">
        <input type="submit" value="Confirm"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
