{% extends "layout.html" %}

{% block body %}
{% if error is defined %}
<p style="padding:15px" class="alert alert-danger" role="alert">{{ error }}</p>
{% endif %}
{% if confirm is defined %}
<p style="padding:15px" class="alert alert-success" role="alert">{{ confirm }}</p>
{% endif %}
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td style="padding:15px">
        {{ form.username.label }}
      </td>
      <td style="padding:15px">
        {{ form.username }}
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
        {{ form.password.label }}
      </td>
      <td style="padding:15px">
        {{ form.password }}
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
        <input type="submit" value="Login"/>
      </td>
    </tr>
  </table>
</form>
<table>
  <tr>
    <td style="padding:15px"><a href="{{ url_for('auth_register') }}">Are you a new user? Register here!</a></td>
  </tr>
</table>
{% endblock %}
