{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST", action="{{ url_for('auth_register') }}">
  <table>
    <tr>
      <td style="padding:15px">
        {{ form.name.label }}
      </td>
      <td style="padding:15px">
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
        {{ form.username.label }}
      </td>
      <td style="padding:15px">
        {{ form.username }}
      </td>
      <td>
        <ul>
          {% for error in form.username.errors %}
          <li>{{ error }} </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
        {{ form.password.label }}
      </td>
      <td style="padding:15px">
        {{ form.password }}
      </td>
      <td>
        <ul>
          {% for error in form.password.errors %}
          <li>{{ error }} </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td style="padding:15px">
        <input type="submit" value="Register"/>
      </tr>
  </table>
</form>
{% endblock %}
