{% extends "layout.html" %}

{% block body %}
<p style="padding:15px">{{ error }}</p>
<table>
  <tr>
    <form method="POST" action="{{ url_for('auth_set_name') }}">
      <td style="padding:15px"><b>Name</b></td>
      <td style="padding:15px">{{ user.name }}</td>
      <td style="padding:15px">{{ nameform.name.label }}</td>
      <td style="padding:15px">{{ nameform.name }}</td>
      <td style="padding:15px"></td>
      <td style="padding:15px">
        <input type="submit" value="Change name"/>
      </td>
      <td>
        <ul>
          {% for error in nameform.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </form>
  </tr>
  <tr>
    <form method="POST" action="{{ url_for('auth_set_username') }}">
      <td style="padding:15px"><b>Username</b></td>
      <td style="padding:15px">{{ user.username }}</td>
      <td style="padding:15px">{{ usernameform.username.label }}</td>
      <td style="padding:15px">{{ usernameform.username }}</td>
      <td style="padding:15px"></td>
      <td style="padding:15px">
        <input type="submit" value="Change username"/>
      </td>
      <td>
        <ul>
          {% for error in usernameform.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </form>
  </tr>
  <tr>
    <form method="POST" action="{{ url_for('auth_set_password') }}">
      <tr>
        <td style="padding:15px"></td>
        <td style="padding:15px"></td>
        <td style="padding:15px">{{ passwordform.password.label }}</td>
        <td style="padding:15px">{{ passwordform.password }}</td>
      </tr>
      <tr>
        <td style="padding:15px"></td>
        <td style="padding:15px"></td>
        <td style="padding:15px">{{ passwordform.password2.label }}</td>
        <td style="padding:15px">{{ passwordform.password2 }}</td>
        <td style="padding:15px"></td>
        <td style="padding:15px">
          <input type="submit" value="Change password"/>
        </td>
        <td>
          <ul>
            {% for error in passwordform.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </form>
  </tr>
  <tr>
    <td style="padding:15px"></td>
  </tr>
  <tr>
    <form method="POST" action="{{ url_for('delete_account') }}">
      <td style="padding:15px"></td>
      <td style="padding:15px"></td>
      <td style="padding:15px"></td>
      <td style="padding:15px"></td>
      <td style="padding:15px"></td>
      <td style="padding:15px">
        <input type="submit" value="Delete account"/>
      </td>
    </form>
  </tr>
</table>
{% endblock %}
