{% extends "layout.html" %}

{% block body %}
  <p style="padding:15px"><b>{{ question.name }}</b></p>
  <table>
    {% for option in options %}
    <tr>
      <td style="padding:15px">
        <form method="POST" action="{{ url_for('options_choose', question_id=question.id, option_id=option.id) }}">
          <input type="submit" value={{ option.name }} class="btn btn-dark"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% if current_user.is_authenticated %}
  <table>
    <tr>
      <td style="padding:15px">
        <a href="{{ url_for('reports_form', question_id=question.id, quiz_id='-1', turn='-1') }}">Report this question</a>
      </td>
    </tr>
  </table>
{% endif %}
{% endblock %}
