{% extends "layout.html" %}

{% block body %}
  <p><b style="padding:15px">{{ quiz.name }}</b></p></td>
  <p style="padding:15px">{{ result }}</p>
  </br></br>
  <p><b style="padding:15px">Quiz results</b></p>
  <table>
    <tr>
      <th style="padding:15px">Quiz name</th>
      <th style="padding:15px">Number of questions</th>
      <th style="padding:15px">Correct answers</th>
      <th style="padding:15px">Number of previous goes in this quiz</th>
    </tr>
      <td style="padding:15px">{{ quiz.name }}</td>
      <td style="padding:15px">{{ qs }}</td>
      <td style="padding:15px">{{ correct }}</td>
      <td style="padding:15px">{{ previous }}</td>
    <tr>
{% endblock %}
