{% extends "layout.html" %}

{% block body %}
  <p style="padding:15px"><b>{{ quiz.name }}</b></p></td>
  {% if result == 'Wrong answer!' %}
  <p style="padding:15px" class="alert alert-danger" role="alert">{{ result }}</p>
  {% endif %}
  {% if result == 'Correct answer!' %}
  <p style="padding:15px" class="alert alert-success" role="alert">{{ result }}</p>
  {% endif %}
  <table>
    <tr>
      <td style="padding:15px"><b>{{ turn }}.&nbsp;</b></td>
      <td style="padding:15px"><b>{{ question.name }}</b></td>
    </tr>
  </table>
  <table>
    {% for option in options %}
    <tr>
      <td style="padding:15px">
        <form method="POST" action="{{ url_for('quiz_choose', quiz_id=quiz.id, turn=turn, question_id=question.id, option_id=option.id) }}">
          <input type="submit" value="{{ option.name }}" class="btn btn-dark"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <table>
    <tr>
      <td style="padding:15px">
        <a href="{{ url_for('reports_form', question_id=question.id, quiz_id=quiz.id, turn=turn) }}">Report this question</a>
      </td>
    </tr>
  </table>
{% endblock %}
